In [1]:
!pip install contextily mapclassify leafmap rasterio

Collecting contextily
  Downloading contextily-1.6.2-py3-none-any.whl.metadata (2.9 kB)
Collecting mapclassify
  Downloading mapclassify-2.8.1-py3-none-any.whl.metadata (2.8 kB)
Collecting leafmap
  Downloading leafmap-0.42.13-py2.py3-none-any.whl.metadata (16 kB)
Collecting rasterio
  Downloading rasterio-1.4.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.1 kB)
Requirement already satisfied: geopy in /usr/local/lib/python3.11/dist-packages (from contextily) (2.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from contextily) (3.10.0)
Collecting mercantile (from contextily)
  Downloading mercantile-1.2.1-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.11/dist-packages (from contextily) (11.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from contextily) (2.32.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.11/dist-packages (from contextily) (1.4.2)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.11/dist-packages (from contextily) (2025.1.0)
Requirement already satisfied: networkx>=2.7 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (3.4.2)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.26.4)
Requirement already satisfied: pandas!=1.5.0,>=1.4 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.6.1)
Requirement already satisfied: scipy>=1.8 in /usr/local/lib/python3.11/dist-packages (from mapclassify) (1.14.1)
Collecting anywidget (from leafmap)
  Downloading anywidget-0.9.16-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: bqplot in /usr/local/lib/python3.11/dist-packages (from leafmap) (0.12.44)
Requirement already satisfied: colour in /usr/local/lib/python3.11/dist-packages (from leafmap) (0.1.5)
Requirement already satisfied: duckdb in /usr/local/lib/python3.11/dist-packages (from leafmap) (1.1.3)
Requirement already satisfied: folium in /usr/local/lib/python3.11/dist-packages (from leafmap) (0.19.5)
Requirement already satisfied: gdown in /usr/local/lib/python3.11/dist-packages (from leafmap) (5.2.0)
Collecting geojson (from leafmap)
  Downloading geojson-3.2.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: ipyevents in /usr/local/lib/python3.11/dist-packages (from leafmap) (2.0.2)
Requirement already satisfied: ipyfilechooser in /usr/local/lib/python3.11/dist-packages (from leafmap) (0.6.0)
Requirement already satisfied: ipyleaflet in /usr/local/lib/python3.11/dist-packages (from leafmap) (0.19.2)
Collecting ipyvuetify (from leafmap)
  Downloading ipyvuetify-1.11.1-py2.py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.11/dist-packages (from leafmap) (7.7.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (from leafmap) (5.24.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from leafmap) (5.9.5)
Requirement already satisfied: pyshp in /usr/local/lib/python3.11/dist-packages (from leafmap) (2.3.1)
Collecting pystac-client (from leafmap)
  Downloading pystac_client-0.8.6-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: python-box in /usr/local/lib/python3.11/dist-packages (from leafmap) (7.3.2)
Requirement already satisfied: scooby in /usr/local/lib/python3.11/dist-packages (from leafmap) (0.10.0)
Collecting whiteboxgui (from leafmap)
  Downloading whiteboxgui-2.3.0-py2.py3-none-any.whl.metadata (5.7 kB)
Collecting affine (from rasterio)
  Downloading affine-2.4.0-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: attrs in /usr/local/lib/python3.11/dist-packages (from rasterio) (25.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from rasterio) (2025.1.31)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.11/dist-packages (from rasterio) (8.1.8)
Collecting cligj>=0.5 (from rasterio)
  Downloading cligj-0.7.2-py3-none-any.whl.metadata (5.0 kB)
Collecting click-plugins (from rasterio)
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.11/dist-packages (from rasterio) (3.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.5.0,>=1.4->mapclassify) (2025.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.0->mapclassify) (3.5.0)
Collecting psygnal>=0.8.1 (from anywidget->leafmap)
  Downloading psygnal-0.12.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.7 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.11/dist-packages (from anywidget->leafmap) (4.12.2)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.11/dist-packages (from ipywidgets->leafmap) (6.17.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.11/dist-packages (from ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.11/dist-packages (from ipywidgets->leafmap) (5.7.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.11/dist-packages (from ipywidgets->leafmap) (3.6.10)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from ipywidgets->leafmap) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from ipywidgets->leafmap) (3.0.13)
Requirement already satisfied: traittypes>=0.0.6 in /usr/local/lib/python3.11/dist-packages (from bqplot->leafmap) (0.2.1)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from folium->leafmap) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.11/dist-packages (from folium->leafmap) (3.1.6)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (from gdown->leafmap) (4.13.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from gdown->leafmap) (3.17.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from gdown->leafmap) (4.67.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.11/dist-packages (from geopy->contextily) (2.0)
Requirement already satisfied: jupyter-leaflet<0.20,>=0.19 in /usr/local/lib/python3.11/dist-packages (from ipyleaflet->leafmap) (0.19.2)
Collecting ipyvue<2,>=1.7 (from ipyvuetify->leafmap)
  Downloading ipyvue-1.11.2-py2.py3-none-any.whl.metadata (1.1 kB)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->contextily) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->contextily) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->contextily) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->contextily) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->contextily) (24.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly->leafmap) (9.0.0)
Collecting pystac>=1.10.0 (from pystac[validation]>=1.10.0->pystac-client->leafmap)
  Downloading pystac-1.12.2-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->contextily) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->contextily) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->contextily) (2.3.0)
Requirement already satisfied: ipytree in /usr/local/lib/python3.11/dist-packages (from whiteboxgui->leafmap) (0.2.2)
Collecting whitebox (from whiteboxgui->leafmap)
  Downloading whitebox-2.3.6-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.8.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.11/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (6.1.12)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.11/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (0.1.7)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.11/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (1.6.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.11/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (24.0.1)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.11/dist-packages (from ipykernel>=4.5.1->ipywidgets->leafmap) (6.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (75.1.0)
Collecting jedi>=0.16 (from ipython>=4.0.0->ipywidgets->leafmap)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (3.0.50)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=4.0.0->ipywidgets->leafmap) (4.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2>=2.9->folium->leafmap) (3.0.2)
Requirement already satisfied: jsonschema~=4.18 in /usr/local/lib/python3.11/dist-packages (from pystac[validation]>=1.10.0->pystac-client->leafmap) (4.23.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas!=1.5.0,>=1.4->mapclassify) (1.17.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.11/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.5.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->gdown->leafmap) (2.6)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.11/dist-packages (from requests[socks]->gdown->leafmap) (1.7.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets->leafmap) (0.8.4)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema~=4.18->pystac[validation]>=1.10.0->pystac-client->leafmap) (0.23.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (5.7.2)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.11/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (23.1.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.11/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (5.10.4)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.11/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (7.16.6)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.11/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.11/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.11/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.21.1)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.11/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets->leafmap) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets->leafmap) (0.2.13)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.11/dist-packages (from jupyter-core>=4.6.0->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->leafmap) (4.3.6)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.11/dist-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.2.4)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.11/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (6.2.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.1.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.10.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.5.1)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.11/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.21.1)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.11/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (21.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.4.0)
Requirement already satisfied: jupyter-server<3,>=1.8 in /usr/local/lib/python3.11/dist-packages (from notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.24.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (2.22)
Requirement already satisfied: anyio<4,>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (3.7.1)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.11/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.8.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio<4,>=3.1.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->leafmap) (1.3.1)
Downloading contextily-1.6.2-py3-none-any.whl (17 kB)
Downloading mapclassify-2.8.1-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.1/59.1 kB 2.3 MB/s eta 0:00:00
Downloading leafmap-0.42.13-py2.py3-none-any.whl (519 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 519.2/519.2 kB 16.3 MB/s eta 0:00:00
Downloading rasterio-1.4.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (22.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 22.2/22.2 MB 12.5 MB/s eta 0:00:00
Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Downloading affine-2.4.0-py3-none-any.whl (15 kB)
Downloading anywidget-0.9.16-py3-none-any.whl (220 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 220.8/220.8 kB 5.1 MB/s eta 0:00:00
Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Downloading geojson-3.2.0-py3-none-any.whl (15 kB)
Downloading ipyvuetify-1.11.1-py2.py3-none-any.whl (7.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 12.6 MB/s eta 0:00:00
Downloading mercantile-1.2.1-py3-none-any.whl (14 kB)
Downloading pystac_client-0.8.6-py3-none-any.whl (41 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.4/41.4 kB 1.4 MB/s eta 0:00:00
Downloading whiteboxgui-2.3.0-py2.py3-none-any.whl (108 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 108.6/108.6 kB 4.1 MB/s eta 0:00:00
Downloading ipyvue-1.11.2-py2.py3-none-any.whl (2.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 15.1 MB/s eta 0:00:00
Downloading psygnal-0.12.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (765 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 765.5/765.5 kB 15.2 MB/s eta 0:00:00
Downloading pystac-1.12.2-py3-none-any.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.2/194.2 kB 4.9 MB/s eta 0:00:00
Downloading whitebox-2.3.6-py2.py3-none-any.whl (74 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.0/74.0 kB 4.2 MB/s eta 0:00:00
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 22.0 MB/s eta 0:00:00
Installing collected packages: whitebox, psygnal, mercantile, jedi, geojson, cligj, click-plugins, affine, rasterio, pystac, mapclassify, contextily, pystac-client, ipyvue, anywidget, whiteboxgui, ipyvuetify, leafmap

In [2]:
import geopandas as gpd
from shapely import wkt
import pandas as pd
import os
import numpy as np
from scipy import stats
import warnings
from shapely.geometry import Point
from matplotlib import pyplot as plt
import seaborn as sns
import time
import requests
import json

import math
from datetime import datetime

In [3]:
GOOGLE_API_KEY = 'AIzaSyDVCnlrIcJCJ6EK9G0a7-IzvxuDgjG4-0w'

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
def calculate_max_diagonal_radius(gdf):
    diagonals = []
    for geom in gdf.geometry:
        if not geom.is_empty:
            minx, miny, maxx, maxy = geom.bounds
            diagonal = np.sqrt((maxx - minx) ** 2 + (maxy - miny) ** 2)
            diagonals.append(diagonal)
        else:
            diagonals.append(0)

    max_diagonal = max(diagonals)
    radius = max_diagonal / 2
    return diagonals, radius


def getGmapsPlaces(location, radius, keyword, type_g = "", key="", pagetoken = ""):
    # https://developers.google.com/maps/documentation/places/web-service/supported_types
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    url += f"?location={location}&radius={radius}"
    if keyword != "":
        url += f"&keyword={keyword}"
    if type_g != "":
        url += f"&type={type_g}"
    if pagetoken != "":
        url += f"&pagetoken={pagetoken}"
    url += f"&key={key}"
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload)
    result = json.loads(response.text)
    return result

def getPlacesFromMaps(location, radius, keyword, type_g = "", key=""):
    places = []
    page_token = ""
    exitLoop = False

    for i in range(3):
        time.sleep(2)
        if exitLoop:
            break
        result = getGmapsPlaces(location, radius, keyword, type_g, key=key, pagetoken=page_token)
        placesList = result["results"]
        status = result["status"]
        print(status)
        if status == 'OK':
            try:
                page_token = result["next_page_token"]
            except:
                exitLoop = True
            for place in placesList:
                try:
                    latitude = place["geometry"]["location"]["lat"]
                    longitude = place["geometry"]["location"]["lng"]
                    name = place["name"]
                except:
                    continue
                try:
                    priceLevel = place["price_level"]
                except:
                    priceLevel = -1
                try:
                    rating = place["rating"]
                except:
                    rating = -1
                try:
                    userRatingsTotal = place["user_ratings_total"]
                except:
                    userRatingsTotal = -1
                places.append([name,latitude,longitude,priceLevel,rating,userRatingsTotal])
        else:
            print(result)
    dfTop60 = pd.DataFrame(places, columns = ["name","latitude","longitude","priceLevel","rating","userRatingsTotal"])
    dfTop60["type_g"], dfTop60["keyword"] = type_g, keyword
    return dfTop60

def getPlacesFromCategories(location, radius, categoriesList):
    dfTop60List = []
    for categories in categoriesList:
        keyword, type_g = categories[0], categories[1]
        print(keyword, type_g)
        dfTop60 = getPlacesFromMaps(location=location, radius=radius,
                                    keyword=keyword, type_g=type_g, key=GOOGLE_API_KEY)
        dfTop60List.append(dfTop60)
    return pd.concat(dfTop60List)

def get_radius(gdf):
    # Extract bounding box values (minx, miny, maxx, maxy)
    gdf["min_lon"], gdf["min_lat"], gdf["max_lon"], gdf["max_lat"] = zip(*gdf.bounds.apply(tuple, axis=1))

    # Compute diagonals as the max difference in latitude and longitude
    gdf["diagonal"] = gdf.apply(lambda row: max(row["max_lat"] - row["min_lat"], row["max_lon"] - row["min_lon"]), axis=1)

    # Compute the radius as max_diagonal / 2
    gdf["radius"] = gdf["diagonal"] / 2

    return gdf

def map_census_labels_to_google(gdf, label, google_categories):
    """
    Maps SEZ21_IDs in a GeoDataFrame to Google Places categories based on a given label.

    Parameters:
        gdf (GeoDataFrame): The input GeoDataFrame containing census data.
        label (int): The target label for filtering ('COD_TIPO_S' column).
        google_categories (dict): Dictionary mapping labels to Google Places categories.

    Returns:
        dict: Mapping of SEZ21_ID to label or 0 if no places found.
        GeoDataFrame: Concatenated results of all found places.
    """

    # Dictionary to store SEZ21_ID mappings
    census_labels_google = {}

    # List to store GeoDataFrames for concatenation
    all_places_gdfs = []

    # Filter gdf based on the given label
    filtered_gdf = gdf[gdf['COD_TIPO_S'] == label].copy()

    # Ensure CRS consistency (assume WGS 84 if CRS is missing)
    if filtered_gdf.crs is None:
        filtered_gdf.set_crs(epsg=4326, inplace=True)  # WGS 84

    # Reproject to EPSG:3857 (meters) for buffering
    filtered_gdf_3857 = filtered_gdf.to_crs(epsg=3857)

    # Precompute Google categories to avoid repeated dictionary lookups
    label_google_categories = google_categories.get(label, [])

    # Define function for vectorized row processing
    def process_row(row):
        location = f"{row['representative_point'].y},{row['representative_point'].x}"
        radius = row['radius']

        # Get places from Google Places API (assumed function)
        df_places = getPlacesFromCategories(location, radius, label_google_categories)

        if df_places is None or df_places.empty:
            return (row["SEZ21_ID"], 0), None

        # Convert to GeoDataFrame
        gdf_places = gpd.GeoDataFrame(df_places,
                                      geometry=gpd.points_from_xy(df_places.longitude, df_places.latitude),
                                      crs="EPSG:4326")  # Assuming WGS 84, adjust if needed

        # Reproject places to EPSG:3857 for spatial operations
        gdf_places_3857 = gdf_places.to_crs(epsg=3857)

        # Create a buffer around each point (10m)
        buffered_geometry = row.geometry.buffer(15)

        # Filter places within the buffered zone
        gdf_places_3857 = gdf_places_3857[gdf_places_3857.geometry.within(buffered_geometry)]

        # Keep only places with more than 1 rating
        #gdf_places_3857 = gdf_places_3857[gdf_places_3857['userRatingsTotal'] > 1]

        # Convert back to EPSG:4326 if necessary
        gdf_places_final = gdf_places_3857.to_crs(epsg=4326)

        # Return SEZ21_ID mapping and filtered GeoDataFrame
        return (row["SEZ21_ID"], label if not gdf_places_final.empty else 0), gdf_places_final

    # Process all rows using apply (faster than iterrows)
    results = filtered_gdf_3857.apply(process_row, axis=1)

    # Extract mappings and valid places
    for mapping, gdf_places in results:
        census_labels_google[mapping[0]] = mapping[1]
        if gdf_places is not None and not gdf_places.empty:
            all_places_gdfs.append(gdf_places)

    # Concatenate all collected places into a single GeoDataFrame
    final_gdf = pd.concat(all_places_gdfs, ignore_index=True) if all_places_gdfs else \
                gpd.GeoDataFrame(columns=["name", "latitude", "longitude", "priceLevel",
                                          "rating", "userRatingsTotal", "type_g", "keyword", "geometry"])

    return census_labels_google, final_gdf

# Load Data

In [6]:
# insert path
path = '/content/drive/MyDrive/Tesi/milano_shp/milan_census_21.geojson'

In [7]:
gdf_census = gpd.read_file(path)
gdf_census["area_sqm"] = gdf_census.geometry.area
gdf_census = get_radius(gdf_census)
gdf_census = gdf_census.to_crs(epsg='4326')
gdf_census["representative_point"] = gdf_census.geometry.representative_point()
#gdf_census = gdf_census.to_crs(epsg='3857')
gdf_census['SEZ21_ID'].nunique()

7383

In [9]:
gdf_census.explore()

Output hidden; open in https://colab.research.google.com to view.

In [16]:
gdf_census[gdf_census['SEZ21_ID']==151460006056].explore()

# Google API Calls

In [8]:
google_categories ={
    2: [["", "church"],
        ["", "mosque"],
        ["", "synagogue"],
        ["oratorio",""],
        ["convento",""]
         ],
    9: [["","hospital"],
        ["casa di riposo", ""],
        ["servizi per disabili", ""],
        ["ambulatorio", ""],
        ["ASST",""],
        ["ATS",""]
        ],
    18: [["", "university"],
         ["research institute", ""],
         ["residenza universitaria", ""],
         ["facoltà",""],
         ["","library"]
         ],
    37: [
        ["","preschool"],
        ["", "primary_school"],
        ["", "secondary_school"],
        ["", "school"],
        ["", "library"],
        ["", "post_office"]
        ],
    16: [["", "arena"],
         ["", "athletic_field"],
         ["","sports_activity_location "],
         ["", "stadium"],
         ["", "sports_club"],
         ["", "sports_complex"],
         ["", "swimming_pool"]
    ]
}

##18

In [ ]:
label = 18

In [ ]:
census_labels_google, google_places_gdf = map_census_labels_to_google(gdf_census, label, google_categories)

NameError: name 'map_census_labels_to_google' is not defined

### Save predictions

In [ ]:
census_df = pd.DataFrame(list(census_labels_google.items()), columns=['SEZ21_ID', 'label'])
file_path = f'/content/drive/MyDrive/Tesi/predictions/maps_api_labels/{label}/mapsi_api_predictions.csv'
census_df.to_csv(file_path, index=False)

## 9

In [ ]:
label = 9
census_labels_google, google_places_gdf = map_census_labels_to_google(gdf_census, label, google_categories)

 hospital
OK
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
OK
 hospital
OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
OK
OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
OK
 hospital
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
OK
OK
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
OK
 hospital
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 hospital
OK
casa di riposo
OK
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
OK
 hospital
OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital
OK
casa di riposo
OK
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
OK
servizi per disabili
OK
ambulatorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
OK
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
OK
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 hospital

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
casa di riposo
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
servizi per disabili
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ambulatorio
OK
ASST
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ATS
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

In [ ]:
predictions_df = pd.DataFrame(list(census_labels_google.items()), columns=['SEZ21_ID', 'label'])
file_path = f'/content/drive/MyDrive/Tesi/predictions/maps_api_labels/{label}/mapsi_api_predictions.csv'
predictions_df.to_csv(file_path, index=False)

## 16

In [ ]:
label = 16
census_labels_google, google_places_gdf = map_census_labels_to_google(gdf_census, label, google_categories)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
OK
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK
 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
OK
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK
 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
OK
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK
 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
OK
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
OK
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
OK
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK
 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
OK
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK
 arena

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
 athletic_field
OK
OK
 sports_activity_location
OK
OK
 stadium
OK
 sports_club
OK
OK
 sports_complex
OK
OK
 swimming_pool
OK
OK
 arena
OK
 athletic_field
OK
 sports_activity_location
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
 sports_complex
OK
 swimming_pool
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 arena
OK
OK
OK
 athletic_field
OK
OK
OK
 sports_activity_location
OK
OK
OK
 stadium
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 sports_club
OK
OK
OK
 sports_complex
OK
OK
OK
 swimming_pool
OK
OK
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

In [ ]:
predictions_df = pd.DataFrame(list(census_labels_google.items()), columns=['SEZ21_ID', 'label'])
file_path = f'/content/drive/MyDrive/Tesi/predictions/maps_api_labels/{label}/mapsi_api_predictions.csv'
file_path
predictions_df.to_csv(file_path, index=False)

## 2

In [ ]:
label = 2
census_labels_google, google_places_gdf = map_census_labels_to_google(gdf_census, label, google_categories)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
OK
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
OK
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
OK
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
OK
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
OK

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 church
OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
OK
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 church

<ipython-input-5-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 mosque
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 synagogue
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
oratorio
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
convento
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [ ]:
predictions_df = pd.DataFrame(list(census_labels_google.items()), columns=['SEZ21_ID', 'label'])
file_path = f'/content/drive/MyDrive/Tesi/predictions/maps_api_labels/{label}/mapsi_api_predictions.csv'
predictions_df.to_csv(file_path, index=False)

## 37

In [ ]:
label = 37
census_labels_google, google_places_gdf = map_census_labels_to_google(gdf_census, label, google_categories)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
OK
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
OK
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
OK

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

 preschool
OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
OK
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
OK
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 preschool

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

OK
 primary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 secondary_school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 school
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 library
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
 post_office
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}
ZERO_RESULTS
{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

<ipython-input-7-93e670a8618c>:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  return pd.concat(dfTop60List)

In [ ]:
predictions_df = pd.DataFrame(list(census_labels_google.items()), columns=['SEZ21_ID', 'label'])
file_path = f'/content/drive/MyDrive/Tesi/predictions/maps_api_labels/{label}/mapsi_api_predictions.csv'
predictions_df.to_csv(file_path, index=False)